In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('vgsales_2.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,12200,Cabela's Big Game Hunter 2005 Adventures,GC,2004.0,Sports,Activision,0.05,0.01,0.00,0.00,0.07
1,10814,Minority Report: Everybody Runs,XB,2002.0,Action,Activision,0.07,0.02,0.00,0.00,0.10
2,894,Mario Super Sluggers,Wii,2008.0,Sports,Nintendo,1.51,0.00,0.29,0.12,1.93
3,4808,Warriors Orochi 2 (JP sales),PS2,2008.0,Action,Tecmo Koei,0.00,0.00,0.40,0.00,0.40
4,13925,Don Bradman Cricket 14,XOne,2015.0,Sports,Tru Blu Entertainment,0.00,0.04,0.00,0.00,0.04
...,...,...,...,...,...,...,...,...,...,...,...
548,4143,SimCity Creator,Wii,2008.0,Simulation,Electronic Arts,0.37,0.03,0.04,0.04,0.48
549,14462,Freaky Flyers,XB,2003.0,Racing,Midway Games,0.02,0.01,0.00,0.00,0.03
550,7513,Frogger 3D,3DS,2011.0,Action,Konami Digital Entertainment,0.16,0.03,0.00,0.01,0.20
551,872,Tom Clancy's Rainbow Six: Vegas,X360,2006.0,Shooter,Ubisoft,1.09,0.65,0.02,0.20,1.96
552,16389,TrackMania Turbo,PC,2016.0,Action,Ubisoft,0.00,0.01,0.00,0.00,0.01

In [3]:
from sklearn.preprocessing import OrdinalEncoder

OrdEnc = OrdinalEncoder()
df[['Name','Platform','Publisher','NA_Sales']] = OrdEnc.fit_transform(df[['Name','Platform','Publisher','NA_Sales']])
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,12200,59.0,6.0,2004.0,Sports,6.0,5.0,0.01,0.00,0.00,0.07
1,10814,261.0,21.0,2002.0,Action,6.0,7.0,0.02,0.00,0.00,0.10
2,894,242.0,18.0,2008.0,Sports,89.0,91.0,0.00,0.29,0.12,1.93
3,4808,510.0,11.0,2008.0,Action,117.0,0.0,0.00,0.40,0.00,0.40
4,13925,104.0,22.0,2015.0,Sports,120.0,0.0,0.04,0.00,0.00,0.04
...,...,...,...,...,...,...,...,...,...,...,...
548,4143,396.0,18.0,2008.0,Simulation,37.0,37.0,0.03,0.04,0.04,0.48
549,14462,146.0,21.0,2003.0,Racing,85.0,2.0,0.01,0.00,0.00,0.03
550,7513,147.0,1.0,2011.0,Action,68.0,16.0,0.03,0.00,0.01,0.20
551,872,474.0,20.0,2006.0,Shooter,122.0,82.0,0.65,0.02,0.20,1.96
552,16389,485.0,9.0,2016.0,Action,122.0,0.0,0.01,0.00,0.00,0.01

In [5]:
from sklearn.preprocessing import LabelEncoder

LabEnc = LabelEncoder()
LabEnc.fit(df['Rank'])
df['Rank'] = LabEnc.fit_transform(df['qwe'])
df